// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}


div.proceeding-item {
    margin-top: 20px;
    padding: 0px;
    border-bottom: 1px solid #ccc;
}


div.no-results {
    margin-left: 0px;
    font-family: "nta", Arial;
    font-size: 19px;
    padding-bottom: 20px;
}
