{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
  Apply for legal aid
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
  text: "prototype"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
text: "Back",
href: "#"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check your answers before sending your application
      </h1>


      <h2 class="govuk-heading-m">
        Application details
      </h2>

      <dl class="app-check-your-answers app-check-your-answers--long" style="margin-bottom: 60px;">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Proceeding
          </dt>
          <dd class="app-check-your-answers__answer">
            Non-molestation order{{ data['...'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="client_details">
              Change <span class="govuk-visually-hidden">first name</span>
            </a>
          </dd>
        </div>
     </dl>

     <h2 class="govuk-heading-m">
       Clients personal details
     </h2>

     <dl class="app-check-your-answers app-check-your-answers--long" style="margin-bottom: 60px;">
       <div class="app-check-your-answers__contents">
         <dt class="app-check-your-answers__question">
           First name
         </dt>
         <dd class="app-check-your-answers__answer">
           {{ data['client-first-name'] }}
         </dd>
         <dd class="app-check-your-answers__change">
           <a href="client_details">
             Change <span class="govuk-visually-hidden">first name</span>
           </a>
         </dd>
       </div>
       <div class="app-check-your-answers__contents">
         <dt class="app-check-your-answers__question">
           Last name
         </dt>
         <dd class="app-check-your-answers__answer">
           {{ data['client-last-name'] }}
         </dd>
         <dd class="app-check-your-answers__change">
         </dd>
       </div>
       <div class="app-check-your-answers__contents">
         <dt class="app-check-your-answers__question">
           Date of birth
         </dt>
         <dd class="app-check-your-answers__answer">
           {{ data['client-dob-day'] }}/{{ data['client-dob-month'] }}/{{ data['client-dob-year'] }}
         </dd>
         <dd class="app-check-your-answers__change">
         </dd>
       </div>
       <div class="app-check-your-answers__contents">
         <dt class="app-check-your-answers__question">
           Home address
         </dt>
         <dd class="app-check-your-answers__answer">
           Main Road<br/>London<br/>{{ data['client-address-postcode'] }}
         </dd>
         <dd class="app-check-your-answers__change">
         </dd>
       </div>
       <div class="app-check-your-answers__contents">
         <dt class="app-check-your-answers__question">
           National Insurance number
         </dt>
         <dd class="app-check-your-answers__answer">
           {{ data['client-national-insurance-number'] }}
         </dd>
         <dd class="app-check-your-answers__change">
           <a href="national_insurance_number">
             Change <span class="govuk-visually-hidden">national insurance number</span>
           </a>
         </dd>
       </div>
       <div class="app-check-your-answers__contents">
         <dt class="app-check-your-answers__question">
           Email address
         </dt>
         <dd class="app-check-your-answers__answer">
           {{ data['client-email-address'] }}
         </dd>
         <dd class="app-check-your-answers__change">
           <a href="email_address">
             Change <span class="govuk-visually-hidden">email address</span>
           </a>
         </dd>
       </div>
    </dl>

    <h2 class="govuk-heading-m">Title block</h2>

    <p>
      Paragraph block.
    </p>

    <a class="govuk-button" href="confirmation_page" role="button">
      Continue
    </a>

  <div class="govuk-!-padding-bottom-6"></div>

      <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with completing this application
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>For any queries about your application, contact the following:
          <br><br>
            Case enquires (Monday to Friday, 09:00 - 17:00) <br>
            Phone: 0300 200 2020
           <br><br>
            Technical support (Monday to Friday, 09:00 - 17:00) <br>
            Email: <a href="#noop">online-support@justice.gov.uk</a> <br>
            hone: 0300 200 2020
        </p>
      </div>
      </details>

    </div>
  </div>

  {% endblock %}

  {% block footer %}
  {{ govukFooter({
  meta: {
      items: [
        {
          href: "#",
          text: "Help"
        },
        {
          href: "https://www.gov.uk/help/cookies",
          text: "Cookies"
        },
        {
          href: "#",
          text: "Contact"
        },
        {
          href: "#",
          text: "Feedback"
        },
        {
          href: "#",
          text: "Terms and conditions"
        },
        {
          href: "https://mojdigital.blog.gov.uk/",
          text: "MOJ Digital Services"
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ]
    }
  }) }}
  {% endblock %}
