
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply for legal aid provider prototypes
        <span class="govuk-caption-xl"></span>
      </h1>
      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>

      <p>
        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
      </p>

        <h2 class="govuk-heading-m">Demo Links</h2>

      <ul class="govuk-list govuk-list--bullet">
      	<li><a href="/start_page">Provider Beta V1 (Demo)</a></li>
      </ul>
    </div>
</div>

{% endblock %}
