{% extends "layout.html" %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}
  Apply for legal aid
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
  text: "prototype"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
text: "Back",
href: "#"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#address-line-1">Enter a building and street</a>
      </li>
      <li>
        <a href="#address-town">Enter a town or city</a>
      </li>
      <li>
        <a href="#address-postcode">Enter a postcode</a>
      </li>
    </ul>
  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
      Enter your client's address manually
    </h1>
    </legend>

    <div class="govuk-!-padding-bottom-8"></div>

<div class="govuk-form-group--error">
  <div class="govuk-form-group">

    <label class="govuk-label" for="address-line-1">
      Building and street
      <span class="govuk-visually-hidden">line 1 of 2</span>
    </label>
    <span id="full-name-error" class="govuk-error-message">
      Enter a building and street
    </span>
    <input class="govuk-input govuk-input--error" id="address-line-1" name="address-line-1" type="text">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-2">
      <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
    </label>
    <input class="govuk-input govuk-input--error" id="address-line-2" name="address-line-2" type="text">
  </div>
</div>

  <div class="govuk-form-group govuk-form-group--error">
    <label class="govuk-label" for="address-town">
      Town or city
    </label>
    <span id="town-city-error" class="govuk-error-message">
      Enter a town or city
    </span>
    <input class="govuk-input govuk-!-width-two-thirds govuk-input--error" id="address-town" name="address-town" type="text">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-county">
      County
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
  </div>

  <div class="govuk-form-group govuk-form-group--error">
    <label class="govuk-label" for="address-postcode">
      Postcode
    </label>
    <span id="postcode-error" class="govuk-error-message">
      Enter a postcode
    </span>
    <input class="govuk-input govuk-input--width-10 govuk-input--error" id="address-postcode" name="address-postcode" type="text">
  </div>

        <input class="govuk-button" type="submit" value="Continue">

</div>
</div>



{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
          items: [
            {
              href: "#",
              text: "Help"
            },
            {
              href: "https://www.gov.uk/help/cookies",
              text: "Cookies"
            },
            {
              href: "#",
              text: "Contact"
            },
            {
              href: "#",
              text: "Feedback"
            },
            {
              href: "#",
              text: "Terms and conditions"
            },
            {
              href: "https://mojdigital.blog.gov.uk/",
              text: "MOJ Digital Services"
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
          ]
        }
      }) }}
    {% endblock %}
